<div class="d-flex align-items-center h-100-wo-nav">
  <div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-6">
        <div class="card border-info">
          <div class="card-header">Login</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 text-center">
                <img src="https://placeimg.com/128/128/nature">
              </div>
              <div class="col-md-7">
                <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                  <input
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    class="form-control mb-2"
                  />
                  <input
                    type="password"
                    formControlName="password"
                    placeholder="Password"
                    class="form-control mb-2"
                  />
                  <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
