.pointer {
  cursor: pointer;
}

.mh-200px {
  min-height: 150px;
}

.body-anim {
  transition-timing-function: ease-in-out;
}

.card {
  max-height: 150px!important;
}

.rounded-input {
  border-radius: 20px;
  width: 80%;
  padding-left: 12px;
}

.rounded-input:focus {
  outline: none;
  border: 2px solid #b70909;
}
