<div class="content m-3">
  <div class="card">
    <div class="firstinfo">
      <img
        src="{{user.photoURL || 'https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295429_1280.png'}}"/>
      <div class="profileinfo">
        <h1 class="text-dark">Username: {{user.displayName}}</h1>
        <h3>Role: {{user.role}}</h3>
        <p class="bio">The UID of {{user.displayName}} is {{user.uid}}</p>
      </div>
    </div>
  </div>
  <div class="firstinfo d-flex align-items-center justify-content-center pt-2">
    <div *ngIf="loggedUser.role === 'admin'">
      <button
        class="btn btn-info m-1"
        (click)="onRemoveUser($event)">
        Delete {{user.displayName}}
      </button>
      <button
        class="btn btn-info"
        routerLink="/main/list-posts/{{user.uid}}">
        Show posts for {{user.displayName}}
      </button>
    </div>
    <button
      *ngIf="loggedUser.role ==='user'"
      class="btn btn-info"
      routerLink="/main/list-posts/{{user.uid}}">
      Show my posts
    </button>
  </div>
</div>

