<!-- Post Content Column -->
<div class="col-lg-8 m-3">

  <!-- Title -->
    <h1 class="mt-4">{{post.title}}</h1>

  <div class="row">
    <div class="col">
      <div class="p-2 d-flex justify-content-between">
        <!-- Author -->
        <p>Created by {{author}}</p>
        <!-- Date/Time -->
        <p>At: {{post.createdAt}}</p>
      </div>
    </div>
  </div>

  <hr class="bg-info mx-5">

  <!-- Preview Image -->
  <div class="row p-3">
    <img class="img-fluid rounded mx-auto" src="https://picsum.photos/900/300">
  </div>

  <hr class="bg-info mx-5">

  <!-- Post Content -->
  <p class="lead">{{post.content}}</p>
</div>
