<nav class="navbar shadow navbar-light navbar-expand-md bg-light">
  <a class="navbar-brand" routerLink="/main">Blog Guru</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar"
          aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topNavbar">

    <!-- guest nav -->
    <ul *ngIf="!loggedUser?.uid" class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main">Posts</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/auth/register">Register</a>
      </li>
    </ul>

    <!-- logged user nav -->
    <ul *ngIf="loggedUser?.uid && loggedUser?.role !== 'admin'" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Hello: {{loggedUser?.displayName}} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main/create-post">Add Post</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main/user-profile/{{loggedUser?.uid}}">Profile</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ul>

    <!-- admin nav -->
    <ul *ngIf="loggedUser?.uid && loggedUser?.role === 'admin'" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Hello: {{loggedUser?.displayName}} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/admin">Dashboard</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main/create-post">Add Post</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/main/user-profile/{{loggedUser?.uid}}">Profile</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
