/* You can add global styles to this file, and also import other style files */
body {
  background: #262c32;
}

p {
  color: white;
}

.h-100-wo-nav {
  height: calc(100vh - 70px);
}

.simple-notification-wrapper {
  width: 80%!important;
}
